absl-py==1.4.0
aniso8601==8.0.0
autopep8==2.0.2
click==7.1.2
Flask==1.1.2
Flask-RESTful==0.3.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pipdeptree==2.7.0
pycodestyle==2.10.0
pytz==2020.1
regex==2023.3.23
six==1.15.0
tomli==2.0.1
Werkzeug==1.0.1
